<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
	<!-- wp:pattern {"slug":"online-fashion/banner"} /-->
	<!-- wp:pattern {"slug":"online-fashion/category"} /-->
	<!-- wp:pattern {"slug":"online-fashion/latest-product"} /-->
	<!-- wp:pattern {"slug":"online-fashion/brand"} /-->
	<!-- wp:pattern {"slug":"online-fashion/featured-product"} /-->
	<!-- wp:pattern {"slug":"online-fashion/gallery"} /-->
	<!-- wp:pattern {"slug":"online-fashion/highlight-product"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
